.nav-btn {
  background-color: #fdd90b;
  border: 3px solid ;
  border-radius: 25%;
}

.nav-btn:hover {
  opacity: 40%;
}

.nav-text a {
  color: #da001e;
  text-decoration: none;
}
.nav-text {
  padding: 1em;
  border: 1px dotted #151217
}

.nav-list {
  display: none;
  position: absolute;
  right: 20%;
  border: 3px solid #151217;
  border-radius: 5%;
  background-color: #fdd90b;
  align-items: center;  
}

.nav-list.active {
  display: block;
}

header {
  display: flex;
  flex: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fdd90b;
  border-bottom: 5px solid #da001e;
  height: 100px;
}