<header class="header">
  <div class="header-logo">
    <a routerLink="/"
      ><img
        src="../../assets/image/logo/logo-site.png"
        alt="Casque ailé en noir et blanc"
        class="logo-site"
        width="100" height="100"

    /></a>
  </div>

  <nav class="header-nav">
    <button class="nav-btn" (click)="openMenu()">
      <img
        src="../../assets/image/logo/burger-bar.png"
        alt="Trois barres horizontales"
        class="menu-logo"
        width="32" height="32"
      />
    </button>

    <ul class="nav-list" [ngClass]="{'active': isMenuOpen}">
      <li class="nav-text"><a routerLink="/about" (click)="closeMenu()">A propos</a></li>
      <li class="nav-text"><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
    </ul>
  </nav>
</header>
