<footer class="footer">
  <p class="footer-text">Retrouvez-nous sur nos réseaux sociaux</p>
  <div class="footer-logo">
    <a href="https://fr-fr.facebook.com/" target="_blank"><img src="../../assets/image/logo/facebook.png" alt="Logo de Facebook"></a>
    <a href="https://www.instagram.com/" target="_blank"><img src="../../assets/image/logo/instagram.png" alt="Logo de Instagram"></a>
    <a href="https://twitter.com/?lang=fr" target="_blank"><img src="../../assets/image/logo/twitter.png" alt="Logo de Twitter"></a>

  </div>
  <p class="footer-copyright">©Copyrights 2024 - Designed by Elodie Besen. All rights reserved.</p>
</footer>

