footer {
  background-color: #151217;
  color: #da001e;
  padding: 2em;
  font-size: 12px;
  text-align: center;
}
img {
  background-color: #f9D0A3;
  margin: 1em;
  border: 1px solid #f9D0A3;
  border-radius: 10%;
}

.footer-logo {
  padding: 1em;
}