<main class="main">
  <h1 class="about-title">Qui sommes-nous ?</h1>
  <article class="article">
    <h2 class="about-subtitle">À propos de Nous</h2>
    <p class="about-text">
      Bienvenue chez "Au Petit Village", votre destination ultime pour plonger
      dans l'univers enchanteur d'Astérix et Obélix à travers des figurines
      d'exception. Fondée par des passionnés de bande dessinée, notre entreprise
      est née de l'amour profond que nous portons à l'œuvre intemporelle créée
      par Albert Uderzo et René Goscinny.
    </p>
  </article>
  <article class="article">
    <h2 class="about-subtitle">Notre Mission</h2>
    <p class="about-text">
      Notre mission chez "Au Petit Village" est de donner vie à l'héritage des
      célèbres Gaulois à travers des figurines minutieusement conçues en bois
      véritable. Nous croyons en l'importance des détails et de la qualité
      artisanale, et chaque pièce de notre collection exclusive témoigne de
      notre engagement envers l'excellence.
    </p>
  </article>
  <article class="article">
    <h2 class="about-subtitle">L'Art de la Figurine</h2>

    <p class="about-text">
      Chaque figurine que nous créons est une œuvre d'art en soi. De la
      conception initiale à la réalisation finale, nous accordons une attention
      particulière à chaque détail pour capturer l'esprit et le charme uniques
      d'Astérix et Obélix. Notre équipe dévouée travaille avec passion pour
      offrir des pièces qui vont au-delà des attentes des fans les plus
      fervents.
    </p>
  </article>
  <article class="article">
    <h2 class="about-subtitle">La Qualité Exceptionnelle du Bois</h2>
    <p class="about-text">
      Chez "Au Petit Village", nous accordons une importance particulière à la
      qualité de nos figurines. Chaque pièce est méticuleusement sculptée à
      partir de bois sélectionné avec soin, assurant une base solide et durable.
      Notre choix de bois de première qualité, non seulement esthétique mais
      aussi respectueux de l'environnement, reflète notre engagement envers
      l'excellence. Chaque figurine que vous découvrez incarne la fusion
      parfaite entre l'art et la qualité, créant ainsi des œuvres uniques qui
      résistent à l'épreuve du temps.
    </p>
  </article>
  <article class="article">
    <h2 class="about-subtitle">Exploration de la Collection</h2>
    <p class="about-text">
      Nous vous invitons à explorer notre collection exclusive de figurines
      fidèles aux détails originaux des célèbres Gaulois. Chaque figurine
      raconte une histoire et évoque des souvenirs de l'univers magique que nous
      chérissons tant. Nous étayerons au fur-et-à mesure du temps notre
      collection pour pouvoir recréer l'ensemble de l'univers des célèbres
      gaulois.
    </p>
    <p class="about-text">
      Chez "Au Petit Village", notre engagement envers la satisfaction de nos
      clients est aussi solide que la résistance d'Obélix à la potion magique.
      Merci de nous rejoindre dans cette aventure extraordinaire, où l'amour
      pour Astérix et Obélix se transforme en art exceptionnel.
    </p>
  </article>
</main>
